.btn {
  font-family: var(--font-primary);
  transition: all 0.2s;
  min-width: 120px;
  padding: 10px 20px;
  font-size: 1rem;
  background: transparent;
  text-transform: uppercase;
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
  border: 2px solid;
}
<<<<<<< HEAD
.btn-header {
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}
=======

.btn-private {
  font-family: var(--font-primary);
  transition: all 0.2s;
  min-width: 120px;
  padding: 10px 20px;
  font-size: 1rem;
  background: transparent;
  text-transform: uppercase;
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
  border: 2px solid;
  float: right;
  margin-bottom: 20px;
}

.btn-like {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  background: transparent;
  color: var(--bright);
  width: fit-content;
  cursor: pointer;
  border: none;
  display: flex;
  margin: 10px;
}

>>>>>>> afcc966e89f96aaf76c15574f161c7d059f2e33d
.btn:hover {
  background: var(--bright);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-weight: bold;
}

.btn.bright {
  background-color: var(--bright);
  color: var(--dark);
}

.btn.error {
  background-color: var(--ko);
}

.btn.error:hover {
  color: var(--bright);
}

.btn[disabled] {
  opacity: 0.5;
  background: var(--secondary);
  color: var(--bright);
  font-size: 1rem !important;
  transition: none;
  font-weight: normal;
  outline: none;
  border: none;
}
