@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
.calendar-parent {
  width: 100% !important;
  height: 100vh !important;
}
.fc-view-container {
  position: relative;
  width: 100% !important;
}
.fc table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

.fc-unthemed td.fc-today {
  opacity: 0.1 !important;
}
.fc-event {
  background: var(--primary) !important;
  font-size: 1em !important;
  line-height: 2 !important;
  border-radius: 30px !important;
  border: 1px solid var(--primary) !important;
}
.fc {
  direction: ltr !important;
  text-align: center !important;
}
.fc-button-primary:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
}
.nav {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 99px;
  outline: 0;
  background-color: transparent;
  color: var(--dark);
  cursor: pointer;
}

.header-calendar1 {
  display: flex;
  justify-content: flex-start;
}
.header-calendar2 {
  display: flex;
  justify-content: flex-end;
}
