#only-event {
}

.event {
  overflow: auto;
  padding: 1rem;
  text-align: center;
}
.titleComment {
  color: var(--bright);
}

.event .title {
  background: transparent;
  border: none;
  color: var(--primary);
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  height: 70px;
  font-weight: bold;
  outline: none;
  width: 100%;
  resize: none;
}

.event .title::placeholder {
  font-family: var(--font-primary);
  opacity: 0.5;
  color: var(--medium);
}

.event .content {
  font-family: var(--font-primary);
  padding: 1rem;
  border: 2px solid var(--primary);
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  background: transparent;
  outline: none;
  display: block;
  margin: 2rem 0;
  width: 100%;
  color: var(--medium);
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100%;
}

.event .content::placeholder {
  color: var(--medium);
  opacity: 0.5;
}

.event .empty {
  color: var(--medium);
  font-family: var(--font-primary);
  margin: 2rem 0;
  opacity: 0.5;
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.event .markdown {
  color: var(--medium);
  margin: 1rem 0;
  overflow: hidden;
}

.event .markdown h1,
.event .markdown h2,
.event .markdown h3,
.event .markdown h4,
.event .markdown h5,
.event .markdown h6 {
  color: var(--primary);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  margin: 30px 0;
}

.event .markdown h1 {
  font-size: 2rem;
}

.event .markdown h2 {
  font-size: 1.5rem;
}

.event .markdown h3 {
  font-size: 1.3rem;
}

.event .markdown h4 {
  font-size: 1.1rem;
}

.event .markdown h5 {
  font-size: 1rem;
}

.event .markdown h6 {
  font-size: 0.8rem;
}

.event .markdown p {
  font-size: 1rem;
  margin: 20px 0;
  color: var(--medium);
  font-family: var(--font-primary);
}

.event .markdown blockquote {
  margin: 10px 0;
  border-left: 5px solid var(--primary);
  padding-left: 1rem;
}

.event .markdown pre {
  padding: 10px;
  background-color: var(--medium);
  color: var(--dark);
  border-radius: 5px;
  overflow: auto;
}

.event .markdown pre::-webkit-scrollbar-thumb {
  background: none;
}

.no-event-selected {
  font-family: var(--font-primary);
  opacity: 0.5;
  text-transform: none;
  text-align: center;
  line-height: 25px;
  margin: 30% 1rem 1rem 3rem;
  color: var(--medium);
}

.event textarea {
  flex: 1;
  font-size: 1rem;
  border: 2px solid var(--primary);
  border-radius: 5px;
  background: transparent;
  outline: none;
  overflow: hidden;
}

.event textarea::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

.mainAddEvent {
  display: block;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  text-align: center;
  padding: 1rem;
}
.formAddEvent {
  align-items: center;
  margin-top: 1rem;
  display: block;
  margin: auto;
}

.commentEvent {
  padding: 1rem;
}
