.profile {
  display: block;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  text-align: center;
  padding: 1rem;
}

.titleProfile {
  text-align: center;
  color: var(--brigth);
}
.avatarContainer {
  padding: 30px;
  align-items: center;
  display: block;
  margin: auto;
}
.avatarProfile {
  border-radius: 8rem;
  min-height: 200px;
  min-width: 200px;
  padding: 1rem;
}
.contactProfile {
  align-items: center;
  display: block;
  margin: auto;
  padding: 1rem;
}
.emailProfile {
  text-align: center;
  font-size: 1rem;
}
.updateProfile {
  align-items: center;
  margin-top: 1rem;
  display: block;
  margin: auto;
}
.logoutLinkProfile {
  align-items: center;
  display: block;
  margin: auto;
}
.homeLink {
  padding: 0.5rem;
}
.homeButton {
  margin-top: 20px;
}

.updateAvatarButton {
  padding: 0.25rem;
}
.logoutButton {
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  color: white;
  font-family: Righteous;
}
